
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@1,700&display=swap');


 .container {right: 0; text-align: center;}

.container .left, .container .center, .container .right { display: inline-block; }

.container .left { float: left; }
.container .center { margin: 0 auto; }
.container .right { float: right; }
.clear { clear: both; }
.left{
	font-size: 22px;
}



nav.menu-nav ul li.btn{

		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: inligncenter;
	
	
}
nav.menu-nav ul li.btn a{
	color: #800080  ;
	padding: 10px;
	font-size: 28px;
}
nav.menu-nav ul li.btn:hover a{
	color: green;
	background-color:#000000
Black ;
transition: 1s all;
}
header { 
	display: flex;
	justify-content: center;
	font-size: 140px;
	margin: 0;
	padding: 0px;

}

img {
	width: 420px;
	height: 420px;
	float: right;
	padding-right: 60px;

}
body{
	background-color: #A5B085;
	color:  white;
	font-family: 'Gentium Plus' , serif;
	margin: 0px;
	padding: 0px;
}
footer{
	background-color: #green;
}
